head
    title Breaddit
body
    each banana in usersRes
        div.className.otherClass#someId
            p= banana.username
            p= banana.email
            p= banana.password
            p= banana.faveBread
            li: a(href=`/users/${banana.id}`) /users/#{banana.id}
        div(class= 'Someclass' id= 'some id')